*{
    color: white;
}

html, body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
);
    min-height: 100vh;
    overflow-x: hidden ;
}

.header-full {
    width: 100%;
}

.logo {
    width: 100%;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 3rem;      

    background: rgba(255, 255, 255, 0.08);
}

.logo img {
    height: 70px;     
    max-width: 220px;
    object-fit: contain;

    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.35));
}

.hero-img{
    border-radius: 15px;
    max-width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

/* Glassmorphism */
#styleGlass{
    border-radius: 12px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
}

footer{
    margin-bottom: 3rem;
}

/* Mobile ajustes */
@media (max-width: 768px){
    h1, h2, h3{
        text-align: center;
    }

    footer form button{
        width: 100%;
    }
}